<nav>
    <ul>

      <li><a href="{% url 'form' %}">Adicionar Funcionarios</a></li>
      <li><a href="{% url 'pessoa_list' %}">Listar Funcionarios Cadastradas</a></li>
      <li><a href="{% url 'formulario' %}">Adicionar Departamentos</a></li>
      
     
  <!-- <li><a href="#">Listar Funcionários</a></li>
      <li><a href="#">Listar Departamentos</a></li>
      <li><a href="#">Relatórios</a></li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Configurações</a></li> -->
    </ul>
  </nav>