{% extends '_base.html' %}
{% block content %}

    <p>Salario: {{ salario.salario }}</p>
    <!--<p>Departamento: {{ pessoa.departamento }}</p>-->
    <!--<p>Data de Contratação: {{ pessoa.data_contratacao }}</p>-->
    <a href="{% url 'salario_list' %}">Voltar para lista</a>
    <br>
    <form method="post" action="{% url 'excluir_salario' salario.id %}" onsubmit="return confirm('Tem certeza que deseja excluir este salario?')">
        {% csrf_token %}
        <button type="submit">Excluir salario</button>
    </form>
{% endblock %}
